<% include partials/header.ejs %>
<h1>Bienvenido <%=greet %></h1>

<h1>Insertar cliente</h1>

<ul>
        <% if (errors){ %>
                <% errors.forEach( function(error) { %>
                <li><%=error.msg %> </li>
                <% }) %>
        <% } %>
</ul>

<% if (!id){ %>
        <form method="POST" action="/users/add" id="form">
                <label>Nombre</label>
                <input type="text" name="first_name">
                <br>
                <label>Apellido</label>
                <input type="text" name="last_name">
                <br>
                <label>Email</label>
                <input type="text" name="email">
                <br>
                <input type="submit" value="Enviar" name="submit">
        </form>
<% } else { %>
<form method="POST" action=<%="/users/edit/"+id%> id="form">
        <label>Nombre</label>
        <input type="text" name="first_name" value=<%=first_name %>>
        <br>
        <label>Apellido</label>
        <input type="text" name="last_name" value=<%=last_name %>>
        <br>
        <label>Email</label>
        <input type="text" name="email" value=<%=email %>>
        <br>
        <input type="submit" value="Editar" name="submit">
</form>
<% } %>

<% if (!errors) { %>
<h1><%=title %></h1>
<ul>

        <%  users.forEach( function(user) { %>
        <li><%=user.first_name %> <%= user.last_name%> - <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a>
                <a href="#" class="editUser" data-id="<%= user._id %>" data-first_name="<%= user.first_name %>" data-last_name="<%= user.last_name %>" data-email="<%= user.email %>">Edit</a></li> </li>
        <% }) } %>
</ul>

<a href="/logout" class="logout">Logout</a>


<% include partials/footer.ejs %>

